.userAccountPage {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.selectorWindow {
    display: grid;
    grid-template-columns: 17% 80%;
    height: 80vh;
}

.subPageList {
    display: flex;
    flex-direction: column;

    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.subPageList .subpage {
    font-size: 1.7vw;
    padding: 0.7vw;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.userAccountPage .content {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.userAccountPage .content .data {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}
.logoutButton {
    width: 5vw;
    text-align: center;
    font-size: 1.5vw;
    padding: 0.5vw;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
}
.logoutButton:hover {
    background-color: black;
    color: white;
}
