.Authentificate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    background-color: #f5f5f5;
}

.Authentificate .authForm {
    background-color: rgba(0, 0, 0, 0.034);
    padding: 3vh;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 10vh;
    border-radius: 5px;
    border: 1px solid gray;
}

.Authentificate .authForm .header {
    text-align: center;
    margin-bottom: 4vh;
}
.Authentificate .authForm .subheader {
    margin-bottom: 4vh;
    text-align: center;
}
.userStatusCheckBar {
    justify-content: center;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 5px;
}
.userStatusCheckBar .header {
    text-align: center;
}
.userStatusCheckBar .subheader {
    text-align: center;
}

.loading-bar {
    width: 40vw;
    height: 5px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
}

.loading-line1 {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #3498db;
    animation: slide 2.3s ease-in-out infinite;
}

.loading-line2 {
    position: absolute;
    width: 5%;
    height: 100%;
    background-color: #3498db;
    animation-delay: 10s;
    animation: slide2 2.3s ease-in-out infinite;
}

@keyframes slide {
    0% {
        left: -30%;
    }
    100% {
        left: 100%;
    }
}

@keyframes slide2 {
    70% {
        left: -5%;
    }
    100% {
        left: -2.5%;
    }
    0% {
        left: -2.5%;
    }
    30% {
        left: 0%;
    }
    31% {
        left: -5%;
    }
}
.logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vh;
    padding: 1vh;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

.createUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
.createUser .header {
    text-align: center;
    margin-top: 15vh;
}

.createUser .createUserForm {
    padding: 3vw;
    text-align: center;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.1vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
    border: 1px solid gray;
    border-radius: 3px;
}

.createUser .createUserForm label {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.createUser .createUserForm input {
    padding: 1vh;
    border: 0.25vw solid rgb(187, 187, 187);
}
.createUser .createUserForm input:focus {
    outline: none;
    border: 0.25vw solid gray;
}

/* input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
} */

.createUser .createUserButton {
    width: 26vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}
.createUser .createUserButton:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
}
.createUser .createUserButton:enabled {
    background-color: #3498db;
}
.ValidationError {
    color: red;
    font-size: 1.8vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

/* @keyframes slide2 {
  30% {
    left: -30%;
  }
  70% {
    left: -100%;
  }
  
} */
