.cartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    padding-bottom: 90px;
}

.cartPage .HomeLink {
    margin-top: 0vh;
    font-size: 18pt;
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #0d3b66;
    color: white;
    text-decoration: none;
}
.cartPage .productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.cartPage .productList .product {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 192px;
    width: 100%;
    padding: 5px;
    margin-bottom: 7px;
}
.cartPage .productList .product {
    .dropdown {
        margin-bottom: 0px;
        margin-top: 15px;

        .optionList {
            .dropdownOption {
                font-size: 13pt;
                display: flex;
                justify-content: start;
                padding-left: 13px;
            }
        }
    }
}
.cartPage .productList .product .productImage {
    padding-left: 7px;
    height: 90%;
}
.cartPage .productList .product .productImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cartPage .productList .product .productInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    height: 100%;
}
.cartPage .productList .product .productInfo .productValues {
    margin-left: 20px;
    display: flex;
    gap: 40px;
}
.cartPage .productList .product .productInfo .productName {
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 1vh;
    width: 90%;
}
.cartPage .productList .product .productInfo .productPrice {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 1vh;
}
.cartPage .productList .product .productInfo .productQuantity {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 1vh;
}
.cartPage .emptyCart {
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartPage .message {
    font-size: 13pt;
    margin-top: 0.2vh;
}
.cartPage .removeProduct {
    height: 30px;
    text-align: center;
    font-size: 10pt;
    margin-top: 1.6vh;
    cursor: pointer;
}
.cartPage .removeProduct:hover {
    color: red;
}
.cartPage .ActionPanel {
    display: flex;
    justify-content: start;
    width: 80%;

    .checkoutButton {
        margin-left: 5%;
        width: 15%;
        height: 4.7vw;
        background-color: lightblue;
        border-radius: 5px;
        border: 1px solid black;
    }
    .checkoutButton:hover {
        background-color: #76b7f0;
    }
    .checkoutButton:active {
        background-color: #617bb2;
    }
    .totalPrice {
        margin-left: 70%;
    }
}

.cartPage .productList .product .productInfo .deleteProduct {
    background-color: red;
    position: absolute; /* Changed from relative to absolute */
    top: 0px; /* Adjust the top position as needed */
    right: 0px;
    margin-right: 0px; /* Optional: Add margin to the right */
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: auto;
}
