.item {
    border: 1px solid gray;
    text-align: center;
    width: 170px;
    
}
.itemLink{
    text-decoration: none;
    /* color: black; */
}
.item-image-holder{
    text-align: center;
    background-color: lightgray;
    width: 100%;
    /* cursor: pointer; */
}
/* .item-image-holder:hover{
    background-color: white;
} */
.item-image-holder #itemImage{
    text-align: center;
    margin: 10px;
}
.itemPrice{
    font-size: 18pt;
    text-align: left;
    margin-left: 10px;
}

.itemName{
    /* text-align: left !important; */
    font-size: 14pt;
    /* margin: 2px; */
    color: black !important;
}
.item .item-data-holder{
    text-align: left;
}
.nameContainer{
    margin-left: 5px;
}