.reviewsSection{
    margin: 10px;
    margin-top: 20px;
}
.review{
    padding: 10px;
    border: solid rgba(105, 104, 104, 0.212);
    border-radius: 8px;
    margin-top: 15px;
}
.review .header{
    font-size: 15pt;
    margin-bottom: 3px;
}
.review .name{

}
.review .date{
    font-size: 10pt;
    margin-bottom: 3px;
}
.review .rating{
    text-align: left;
    margin-left: 0; /*replace it*/
    /* background-color: black; */
    margin-bottom: 8px;
}

.filters{
    background-color: rgb(92, 92, 225);
    height: 30px;
    width: 80px;
    font-size: 18px;
}